.filtrosContainer {
    width: 100%;
}

.tituloFiltro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    border-top: 1px solid #000; /* linha acima */
}

.tituloFiltro:hover {
    background-color: var(--lightGray);
}

.containerChips {
    padding: 0 5px;
    margin-top: 5px;
}

.chipAzul, .chipVerde {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    cursor: pointer;
    background-color: var(--lightGray);
    margin-bottom: 8px;
}

.chipAzul:hover, .chipVerde:hover {
    background-color: var(--darkGray);
}

.chipAzulAtivo, .chipVerdeAtivo {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    width: fit-content;
    margin-bottom: 8px;
}

.chipAzulAtivo {
    background-color: var(--lightBlue);
}

.chipVerdeAtivo {
    background-color: var(--lightTurquoise);
}

.iconeX {
    margin-left: 6px;
    cursor: pointer;
}